<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>e-mail</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.id}" style="width: 10px; text-align: center"></td>
            <td th:text="${user.name}" style="width: 150px; text-align: center"></td>
            <td th:text="${user.lastName}" style="width: 150px; text-align: center"></td>
            <td th:text="${user.email}" style="width: 100px; text-align: center"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <table>
        <tr>
            <td><a type="button" th:href="@{/edit(id=${user.getId()})}">Edit</a></td>
            <td><a type="button" th:href="@{/delete(id=${user.getId()})}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>